<div class="header">
  <a routerLink="/home" class="logo">{{ APP_NAME }}</a>
  <div class="header-right">
    <a
      routerLink="/home"
      routerLinkActive="active"
      #homeLA="routerLinkActive"
      [class.active]="homeLA.isActive"
      >Home</a
    >

    <a
      routerLink="/users"
      routerLinkActive="active"
      #userRLA="routerLinkActive"
      [class.active]="userRLA.isActive"
      class="ml-4"
      >Users</a
    >

    <a
      *ngIf="AUTH_STATUS === 'UNAUTHORIZED'"
      routerLink="/login"
      routerLinkActive="active"
      #loginRLA="routerLinkActive"
      [class.active]="loginRLA.isActive"
      class="ml-4"
      >Login</a
    >
    <div
      *ngIf="AUTH_STATUS === 'AUTHORIZED'"
      class="relative inline-block ml-4"
      (mouseenter)="showDropdown = true"
      (mouseleave)="showDropdown = false"
    >
      <!-- Profile Image -->
      <img
        src="assets/profile-placeholder.png"
        alt="Profile"
        class="w-10 h-10 rounded-full cursor-pointer border border-gray-300"
      />

      <!-- Dropdown -->
      <div
        *ngIf="showDropdown"
        class="absolute right-0 mt-[.05rem] w-32 bg-white border border-gray-200 rounded shadow-lg z-50"
      >
        <a
          routerLink="/profile"
          routerLinkActive="active"
          #profileRLA="routerLinkActive"
          [class.active]="profileRLA.isActive"
          class="block px-4 py-2 hover:bg-gray-100 text-sm text-gray-700 w-full"
        >
          Profile
        </a>
        <a
          (click)="logout()"
          class="block px-4 py-2 hover:bg-gray-100 text-sm text-gray-700 w-full"
        >
          Sign Out
        </a>
      </div>
    </div>
  </div>
</div>
